<% @rows.each_with_index do |row, i| %>
  <table class="table table-striped table-bordered">
    <tr>
      <td colspan="2">Row <%= i + 1 %></td>
    </tr>
    <% for column in @columns %>
      <tr>
        <th><%= column %></th>
        <td><%= row[column] %></th>
      </tr>
    <% end %>
  </table>
<% end %>
