<form action="/queries" method="post" role="form">
  <div class="form-group">
    <textarea name="sql" rows="7" class="form-control col-md-12"><%= @sql %></textarea>
  </div>

  <div class="form-group" style="text-align: right">
    <button type="submit" class="btn btn-primary">Execute</button>
  </div>

  <% if @columns && @rows %>
    <table class="table table-striped table-bordered">
      <tr>
        <% for column in @columns %>
          <th><%= column %></th>
        <% end %>
      </tr>

      <% for row in @rows %>
        <tr>
          <% for column in @columns %>
            <td><%= row[column] %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
</form>
